#container
{
    margin-top: 200px;

}
body
{
    background: #f5f5f5;
}
h1 {

    font-family: "Lato", sans-serif;
    text-align: center;

    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}
#farmer
{
    width: 77px;
    height:77px;
}